$color-white: #fff;
$color-black: #000;

$color-blue: #44576F;
$color-purple: #655365;
$color-green: #4D5B5B;

$color-brand-primary: $color-blue;
$color-brand-secondary: $color-purple;
$color-brand-tertiary: $color-green;
