$color-blue:            #2196f3;
$color-purple:          #990099;
$color-dark-blue:       #004960;
$color-gray:            #555555;
$color-light-gray:      #f6f7f7;
$color-green:           #20b584;
$color-light-green:     #d5eae4;
$color-red:             #f95a5a;
$color-yellow:          #e8cf54;

$color-header: $color-dark-blue;
$color-company-brand: $color-blue;
